// import 2 fonts
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Prompt:wght@200&display=swap');

// fonts
$font-family-serif: 'Times New Roman', serif;
$font-family-sans-serif: 'Times New Roman', sans-serif;

// colors
$light-green: #55FF76;
$dark-green: #244E2A; 
$gray: #3B3B3D;
$yellow: #F1E709;
$white: #FFFFFF;
$light-gray: #ECECEC;

// element selectors

body {
  background-color: $light-gray; 
  color: $gray; 
}

h1 {
  color: $gray;
  font-family: $font-family-sans-serif;
}

h2 {
  letter-spacing: 5px;
  font-family: $font-family-serif;
}

h4 {
  color: $light-green;
  font-family: $font-family-serif;
}

h6 {
  color: $light-green;
  font-family: $font-family-serif;
  font-size: 22px;
}

p {
  font-family: $font-family-sans-serif;
}

a {
  font-family: $font-family-serif;
  font-size: 17px;
  color: $light-green;
}

.main-header .logo {
  font-family: $font-family-serif;
  font-size: 22px;
  font-weight: bold;
  color: $light-green;
}

// class selectors

.navbar-default {
  background-color: $dark-green;
}

.btn.default.active {
  background-color: $dark-green;
}

/* logo */
        .skin-blue .main-header .logo {
                              background-color: $dark-green;
                              color: $light-green;
                              }

/* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: $dark-green;
                              }

/* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: $dark-green;
                              }        

/* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: $dark-green;
                              }

/* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: $dark-green;
                              text-decoration: underline;
                              }

/* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: $dark-green;
                              color: $light-green;
                              font-family: $font-family-serif;
                              }

/* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: $dark-green;
                              text-decoration: underline;
                              }
/* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: $dark-green;
                              }

 /* body */
          .content-wrapper, .right-side {
            background-color: $light-gray;
                                }
/* box body */                            
.box-body {
  background-color: $white;
}

/* box header */                            
.box-header {
  background-color: $white;
}

/* picker input boxes exterior */                            
form.well {
  background-color: $white;
}

/* picker input boxes interior */
.well .shiny-input-container{
  background-color: $white;
}

/* navbar picker (3 lines)  for hover*/
.skin-blue .main-header .navbar a.sidebar-toggle:hover{
  color:$light-green;
}

/* navbar picker (3 lines)  for non-hover*/
.skin-blue .main-header .navbar a.sidebar-toggle{
  color:$light-green;
}