// import 2 fonts
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Prompt:wght@200&display=swap');
@font-face {
  font-family: 'SBBG-body-thin';
  font-style: normal;
  src: url("fonts/ebec98131cf900cb698e.woff2") format('woff2');
}

@font-face {
  font-family: 'SBBG-body-thick';
  font-style: normal;
  src: url("fonts/edfac2e6370304cd74ae.woff2") format('woff2');
}

@font-face {
  font-family: 'SBBG-body-italic';
  font-style: normal;
  src: url("fonts/5cfb33b712cbdaf9310b.woff2") format('woff2');
}

@font-face {
  font-family: 'SBBG-title';
  font-style: normal;
  src: url("fonts/ab9aea6faeaea5115410.woff2") format('woff2');
}

@font-face {
  font-family: 'SBBG-body-bold';
  font-style: normal;
  src: url("fonts/bace964bccc02d90d74e.woff2") format('woff2');
}

// fonts
$font-family-serif: 'Times New Roman', serif;
$font-family-sans-serif: 'Times New Roman', sans-serif;

// colors
$light-green: #55FF76;
$dark-green: #244E2A; 
$gray: #3B3B3D;
$yellow: #F1E709;
$white: #FFFFFF;
$light-gray: #ECECEC;
$orange: #F05E16;

// element selectors

body {
  background-color: $light-gray; 
  color: $gray; 
}

h1 {
  color: $gray;
  font-family: 'SBBG-body-thin';
}

h2 {
  letter-spacing: 5px;
  font-family: 'SBBG-body-thin';
}

h4 {
  color: $light-green;
  font-family: 'SBBG-body-bold';
}

h6 {
  color: $gray;
  font-family: 'SBBG-body-thin';
  font-size: 8px;
}

p {
  font-family: 'SBBG-body-thin';
}

em {
  font-family: 'SBBG-body-thin';
  color: $gray;
}

a {
  font-family: 'SBBG-body-thin';
  color: $orange;
  text-decoration: underline;
}

.main-header .logo {
  font-family: 'SBBG-title';
  font-size: 22px;
  font-weight: bold;
  color: $light-green;
  white-space: normal; // Allow text to wrap onto the next line
  height: auto; // Adjust height based on the text
  background-color: #f9f9f9; // Set a background color if needed
  padding: 5px; // Add some padding for visual spacing
  line-height: 1.2; // Adjust line height to reduce vertical spacing

}

// class selectors

.navbar-default {
  background-color: $dark-green;
}

.btn.default.active {
  background-color: $dark-green;
}

/* logo */
        .skin-blue .main-header .logo {
                              background-color: $dark-green;
                              color: $light-green;
                              }

/* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: $dark-green;
                              }

/* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: $dark-green;
                              }        

/* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: $dark-green;
                              }
                              
/* Base styles for all links in the sidebar menu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
    background-color: $dark-green;
    color: $light-green;
    font-family: 'SBBG-title';
    font-size: 18px;
    text-decoration: none; // Default state with no text-decoration
}

/* Hover and focus effects for all links */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover,
.skin-blue .main-sidebar .sidebar .sidebar-menu a:focus {
    text-decoration: underline;
}

/* Specific style for active links */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active > a {
    text-decoration: underline; // Ensure underline for active links
}

/* Overriding style if needed for active link when not focussed */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active > a:not(:focus):not(:hover) {
    text-decoration: underline;
}

                              
/* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: $dark-green;
                              }

 /* body */
          .content-wrapper, .right-side {
            background-color: $light-gray;
                                }
/* box body */                            
.box-body {
  background-color: $white;
}

/* box header */                            
.box-header {
  background-color: $white;
}

/* picker input boxes exterior */                            
form.well {
  background-color: $white;
}

/* picker input boxes interior */
.well .shiny-input-container{
  background-color: $white;
}

/* navbar picker (3 lines)  for hover*/
.skin-blue .main-header .navbar a.sidebar-toggle:hover{
  color:$light-green;
}

/* navbar picker (3 lines)  for non-hover*/
.skin-blue .main-header .navbar a.sidebar-toggle{
  color:$light-green;
}

/* Check Boxes */
.btn {
  &.checkbtn {
    &.btn-default {
      background-color: $light-gray; // Default non-active color
      color: $gray;
      border: 2px solid transparent;

      &:hover, &:focus {
        background-color: $light-gray;
        border: 2px solid $yellow;
      }

      &:active, &.active {
        background-color: $yellow !important; // Force yellow background
        border: 2px solid $yellow !important; // Consistent border color when active
      }

      &:not(:active):focus {
        border: 2px solid transparent; // Reset border when not active but focused
      }
    }
  }
}

/* Radio Buttons */
.btn.radiobtn.btn-default {
  background-color: $light-gray; // Default non-active color
  color: $gray;
  border: 2px solid transparent;

  &:hover, &:focus {
    background-color: $light-gray;
    border: 2px solid $yellow;
  }

  &:active, &.active {
    background-color: $yellow !important; // Force yellow background
    color: $gray;
    border: 2px solid $yellow !important; // Consistent border color when active
  }

  &:not(:active):focus {
    border: 2px solid transparent; // Reset border when not active but focused
  }
}
